* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.navlog{
    position:fixed;
    min-width: 200px;
    width: 25%;
    height: 100%;
    padding: 20px 50px;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    width: 100%;
    border-radius: 100%;
    max-width: 300px;
    
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.logo {
    -webkit-text-stroke: 1px white;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

nav a {
    flex-direction: column;
    margin-top: 50px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 560;
    display: flex;
    transition: 1s;
}

nav a:hover,nav a.active{
    color: maroon;
}

.socials img{
    width: 80px;
    margin-top: 40px;
    transition: 0.5s;
    
}

.socials{
    display: flex;
    gap: 20px;
}

.section section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 88, 88);
    font-size: 100px;
    color: aliceblue;
    font-weight: 700;
}

section:nth-child(even){
    background-color: rgb(48, 49, 49);
}

  .page {
    display: grid;
    grid-template-columns: 25% 2fr;
    grid-template-areas:
      "navlog section";
  }
  
  .navlog {
    grid-area: navlog;
  }
  
  .section {
    grid-area: section;
  }

.h.container{
    display: inline-block;
}

.hometxt {
    font-family: monospace;
    letter-spacing: 8px;
    border-right: solid;
    animation:
        typing 2s,
        cursor .4s step-end infinite alternate;
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
}

.hometxt2 {
    font-size: 50px;
    letter-spacing: 6px;
    border-right: solid;
    animation:
        typing 4s,
        cursor .4s step-end infinite alternate;
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
}

.hometxt3 {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 4px;
    border-right: solid;
    animation:
        typing 20s,
        cursor .4s step-end infinite alternate;
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
}

@keyframes cursor {
    0% { border-color: transparent}
}

@keyframes typing{
    from { width: 0 }
}

.about-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.atxt{
    grid-column: 1;
    padding: 30px;
}

.amg{
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow:  0 0 10px 5px black;
}

.aboutimg{
    grid-column: 2;
    
}

.abouttxt{
    font-family: monospace;
    font-weight: 300;
}

.name{
    font-size: 40px;
    font-weight: 100;
}

.description{
    font-size: 24px;
    font-weight: 100;
    margin-top: 15px;
    letter-spacing: 2px;
}

.maroon {
    color: maroon;
}

.portfolio-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.portfolio1 {
    grid-column: 1;
    grid-row: 1;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.portfolio2 {
    grid-column: 2;
    grid-row: 1;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.portfolio3 {
    grid-column: 3;
    grid-row: 1;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.portfolio4 {
    grid-column: 1;
    grid-row: 2;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.portfolio5 {
    grid-column: 2;
    grid-row: 2;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.portfolio6 {
    grid-column: 3;
    grid-row: 2;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    border: 4px solid black;
    padding: 20px;
    height: 95%;
    margin: 20px;
    max-width: 350px;
}

.pimg{
    width: 250px;
    border-radius: 15px;
    border: 4px solid rgb(0, 0, 0);
    transition: 0.5s;
    
}

.pimg:hover{
    transform:scale(1.1);
    z-index:2;
}

.socials img:hover{
    transform:scale(1.2);
    z-index:2;
}

.p1txt{
    font-size: 15px;
    font-weight: 100;
}

.label{
    font-size: 30px;
    text-align: center;
    color: maroon;
    margin-bottom: 10px;
}

.contact-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 30px 30px 200px 1px;
    text-align: center;
    align-items: center;
    
    width: 700px;
}

.cont{
    grid-column: 1/3;
    grid-row: 1;
}

input{
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    padding: 3px;
}

.input1{
    grid-column: 1;
    grid-row: 2;
    border-radius: 5px;
    font-size: 25px;
}

.input2{
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
    font-size: 25px;
}

.input3{
    grid-column: 1;
    grid-row: 3;
    border-radius: 5px;
    font-size: 25px;
}

.input4{
    grid-column: 2;
    grid-row: 3;
    border-radius: 5px;
    font-size: 25px;
}

.input5{
    grid-column: 1/3;
    grid-row: 4;
    border-radius: 5px;
    font-size: 25px;
    padding-bottom: 150px;
}

input:focus {
    outline: none;
  }

  .input6{
    width: 30%;
    grid-column: 1/3;
    grid-row: 6;
    border-radius: 5px;
    font-size: 25px;
    justify-self: center;
    cursor: pointer;
    transition: 0.5s;
    background-color: aliceblue;
  }

  .input6:hover {
    background-color: maroon;
}

@media (max-width: 1000px){
    .pic{
        display: none;
        
    }

    .amg{
        display: none;
    }

    .socials{
        flex-direction: column;
        gap: 1px;
        margin-top: 20px;
    }

    .about-container {
        grid-template-columns: 1fr;
    }
    
    .atxt{
        grid-column: 1;
        padding: 30px;
    }

    .hometxt {
        font-family: monospace;
        letter-spacing: 8px;
        font-size: 45px;
    }
    
    .hometxt2 {
        font-size: 20px;
        letter-spacing: 6px;
    }
    
    .hometxt3 {
        margin-top: 10px;
        font-size: 20px;
        letter-spacing: 4px;
    }

    .abouttxt{
        font-family: monospace;
        font-weight: 300;
    }
    
    .name{
        font-size: 30px;
        font-weight: 100;
    }
    
    .description{

        font-size: 20px;
        font-weight: 100;
        margin-top: 15px;
        letter-spacing: 2px;
    }
    
    .about-container {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    
    .atxt{
        font-size: 70px;
        grid-column: 1;
        padding: 70px;
    }
    
    .maroon {
        color: maroon;
    }
    
    .portfolio-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    
    .portfolio1 {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        max-width: 600px;
    }
    
    .portfolio2 {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        max-width: 600px;
    }
    
    .portfolio3 {
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        max-width: 600px;
    }
    
    .portfolio4{
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        max-width: 600px;
    }
    
    .portfolio5 {
        grid-column: 1;
        grid-row: 5;
        width: 100%;
        max-width: 600px;
    }
    
    .portfolio6 {
        grid-column: 1;
        grid-row: 6;
        width: 100%;
        max-width: 600px;
    }
    
    .pimg{
        width: 300px;
    }
    
    .p1txt{
        font-size: 15px;
        font-weight: 100;
        display: none;
    }
    
    .label{
        font-size: 30px;
        text-align: center;
        color: maroon;
        margin-bottom: 10px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 30px 30px 30px 30px 200px 1px;
        justify-items: center;
        width: 100%;
    }
    
    .cont{
        grid-column: 1;
        grid-row: 1;
        font-size: 50px;
    }
    
    input{
        background-color: rgb(238, 238, 238);
        border: 2px solid black;
        padding: 3px;
        width: 400px;
    }
    
    .input1{
        grid-column: 1;
        grid-row: 2;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input2{
        grid-column: 1;
        grid-row: 4;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input3{
        grid-column: 1;
        grid-row: 3;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input4{
        grid-column: 1;
        grid-row: 5;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input5{
        grid-column: 1;
        grid-row: 6;
        border-radius: 5px;
        font-size: 20px;
        padding-bottom: 150px;
    }
    
      .input6{
        width: 25%;
        grid-column: 1;
        grid-row: 7;
      }
    
}

@media (max-width: 720px){

    .socials{
        flex-direction: column;
        gap: 1px;
        margin-top: 20px;
    }

    .about-container {
        grid-template-columns: 1fr;
    }
    
    .atxt{
        grid-column: 1;
        padding: 10px;
    }

    .hometxt {
        font-family: monospace;
        letter-spacing: 8px;
        font-size: 30px;
    }
    
    .hometxt2 {
        font-size: 15px;
        letter-spacing: 1px;
        overflow-wrap: break-word;
    }
    
    .hometxt3 {
        margin-top: 10px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .name{
        font-size: 25px;
        font-weight: 100;
    }
    
    .description{
        font-size: 17px;
        font-weight: 100;
        margin-top: 15px;
        letter-spacing: 1px;
        overflow-wrap: break-word;
    }
    
    .abouttxt{
        font-size: 40px;
    }

    .atxt{
        width: 300px;
    }
    
    .maroon {
        color: maroon;
    }
    
    .label{
        font-size: 30px;
        text-align: center;
        color: maroon;
        margin-bottom: 10px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 30px 30px 30px 30px 200px 1px;
        justify-items: center;
        width: 100%;
    }
    
    .cont{
        grid-column: 1;
        grid-row: 1;
        font-size: 50px;
    }
    
    input{
        background-color: rgb(238, 238, 238);
        border: 2px solid black;
        padding: 3px;
        width: 300px;
    }
    
    .input1{
        grid-column: 1;
        grid-row: 2;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input2{
        grid-column: 1;
        grid-row: 4;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input3{
        grid-column: 1;
        grid-row: 3;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input4{
        grid-column: 1;
        grid-row: 5;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .input5{
        grid-column: 1;
        grid-row: 6;
        border-radius: 5px;
        font-size: 20px;
        padding-bottom: 150px;
    }
    
      .input6{
        width: 25%;
        grid-column: 1;
        grid-row: 7;
      }

      .portfolio1 {
        max-width: 250px;
    }
    
    .portfolio2 {
        max-width: 250px;
    }
    
    .portfolio3 {
        max-width: 250px;
    }
    
    .portfolio4{
        max-width: 250px;
    }
    
    .portfolio5 {
        max-width: 250px;
    }
    
    .portfolio6 {
        max-width: 250px;
    }

    .pimg{
        width: 200px;
    }
}